@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''), url(../fonts/inter-v3-latin-ext_cyrillic-ext-regular.woff2) format('woff2'), url(../fonts/inter-v3-latin-ext_cyrillic-ext-regular.woff) format('woff')
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: local(''), url(../fonts/inter-v3-latin-ext_cyrillic-ext-700.woff2) format('woff2'), url(../fonts/inter-v3-latin-ext_cyrillic-ext-700.woff) format('woff')
}

#main {
    padding-top: 20px
}

html {
    overflow-x: hidden !important
}

img {
    max-width: 100%
}

.top-img {
    margin: 0 auto 20px;
    display: block
}

* {
    box-sizing: border-box
}

html:not([amp4ads]), html:not([amp4ads]) body {
    height: auto !important
}

.logo-img {
    width: 250px
}

html:not([amp4ads]) body {
    margin: 0 !important
}

body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: Inter, sans-serif
}

[hidden] {
    display: none !important
}

.dlhZxU p, .dlhZxU ul {
    margin: 20px 0;
    font-size: 17px;
    line-height: 1.3;
    font-weight: 400;
    max-width: 100%
}

@media (min-width: 1000px) {
    .dlhZxU p, .dlhZxU ul {
        font-size: 20px;
        line-height: 1.4;
        text-align: justify;
    }
}

.dlhZxU:first-child > p {
    font-weight: 500
}

.dlhZxU ul {
    list-style: none;
    padding-left: 0
}

.dlhZxU ul li {
    margin-bottom: 10px;
    line-height: 1.3;
    padding-left: 20px;
    position: relative
}

.fb {
    margin-top: 15px !important
}

.city {
    font-weight: 400 !important
}

.slick-slide img {
    width: 248px !important;
    height: 140px !important
}

.slick {
    width: 100%
}

.dlhZxU ul li:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #dc062b;
    position: absolute;
    left: 0;
    top: 10px
}

.gxVCA-D {
    display: none;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    z-index: 1;
    position: relative;
    height: 40px
}

.gxVCA-D:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e9e9e8
}

@media (min-width: 1000px) {
    .gxVCA-D {
        display: flex
    }
}

@media (max-width: 1500px) {
    .hide-1 {
        display: none !important
    }
}

.fZpXGc {
    margin: 0 auto
}

@media (min-width: 1600px) {
    .fZpXGc {
        width: 100%;
        padding-right: 0
    }
}

.hUrSQA {
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0;
    list-style: none;
    height: 100%;
    background-color: #fff
}

.gUUXaG {
    white-space: nowrap;
    padding: 0 26px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
    position: relative
}

.gUUXaG.news:before {
    background-color: #404690
}

.gUUXaG.sport:before {
    background-color: #f29100
}

.gUUXaG.shopping:before {
    background-color: #ff59c6
}

.gUUXaG.business:before {
    background-color: #c51931
}

.gUUXaG.comment:before {
    background-color: #6b4796
}

.gUUXaG.insider:before {
    background-color: #ae7f87
}

.gUUXaG.reveller:before {
    background-color: #b81451
}

.gUUXaG.escapist:before {
    background-color: #ecbf09
}

.gUUXaG.tech:before {
    background-color: #252a59
}

.gUUXaG.culture:before {
    background-color: #0e5029
}

.gUUXaG.esmag:before {
    background-color: #000
}

.gUUXaG:before {
    display: none;
    content: "";
    position: absolute;
    height: 4px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #dc062b
}

.gUUXaG.active:before, .gUUXaG:hover:before {
    display: block
}

.gUUXaG.active, .gUUXaG:hover {
    font-weight: 500
}

.gUUXaG.active > a, .gUUXaG:hover > a {
    color: #1e1e1c
}

.OHOul {
    color: #4b4b49;
    font-family: Inter, sans-serif;
    letter-spacing: .7px;
    font-size: 14px;
    line-height: 21px;
    outline: 0;
    text-transform: uppercase;
    text-decoration: none
}

.OHOul:before {
    display: block;
    content: attr(data-title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden
}

.OHOul.active, .OHOul:hover {
    color: #1e1e1c
}

.gXYmso {
    width: 100%;
    z-index: 999;
    background: #fff;
    top: 0
}

.mb0 {
    margin-bottom: 0 !important
}

.dLABNi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 61px;
    position: relative
}

.dLABNi:after {
    content: "";
    position: absolute;
    height: 1px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e9e9e8
}

@media (min-width: 1000px) {
    .dLABNi {
        height: 80px
    }

}

.bDWFjp {
    text-align: center;
    margin: auto;
    width: 100%;
    line-height: 0
}

.cnszJu {
    flex-direction: column
}

.lbnqcb {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin: 0;
    padding: 0 12px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc
}

@media (min-width: 1000px) {
    .lbnqcb {
        max-width: 900px;
        padding: 0 15px;
        margin: 0 auto;
        margin-bottom: 40px !important;
        border-radius: 20px;
        box-shadow: 3px 5px 10px rgba(0, 0, 0, .4)
    }

    .eZYkSk {
        margin-bottom: 30px !important
    }
}

.lbnqcb {
    margin-bottom: 40px
}

.eubWuu {
    align-items: center;
    display: flex;
    justify-content: space-between
}

.kJpktp {
    font-family: Inter, sans-serif;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 22px;
    height: 50px;
    padding: 12px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #000;
    font-weight: 700
}

.kJpktp span {
    margin: 0 4px
}

.ixJsBZ {
    width: 100%;
    flex-grow: 1;
    justify-content: flex-start
}

.gCXNBk {
    color: #1e1e1c;
    font-weight: 800;
    font-size: 30px;
    line-height: 130%;
    margin: 0 0 8px
}

@media (min-width: 1000px) {
    .gCXNBk {
        font-size: 40px;
        margin: 0 0 10px
    }
}

.eSGUSa {
    margin: 0 auto
}

@media (min-width: 1000px) {
    .eSGUSa {
        max-width: 900px;
        padding: 0 15px;
        box-sizing: border-box
    }
}

.footer .container {
    max-width: 900px;
    margin: 0 auto;
}

.footer__text {
    display: block;
    text-align: center
}

.form-order {

    max-width: 300px;
    width: 100%;
    padding: 15px 20px;
    margin-top: 0;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 0 5px #ccc
}

.rel {
    position: relative
}

.price {
    font-size: 25px;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 0 0 10px 0
}

#blank {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto 15px;
    border-radius: 8px;
    flex-direction: column;
    background: #f7f7f7;
    box-shadow: 0 0 5px #c5c5c5;
    width: 100%;
    padding: 15px;
    max-width: 690px
}

.price div {
    text-align: center
}

.price div:last-child {
    margin-left: 20px
}

.price-text {
    font-size: 18px;
    color: #444;
    margin: 0
}

.currency-price .x_currency, .currency-price .x_price_current {
    color: red;
    font-weight: 700
}

#blank .currency-price {
    padding-left: 20px;
    border-left: 1px solid #c5c5c5
}

form small {
    display: block;
    margin: 0 auto 8px;
    text-align: center;
    max-width: 300px
}

form small:last-of-type {
    margin-bottom: 0;
}

.old-price {
    text-decoration: line-through
}

.btn {
    font-size: 17px;
    cursor: pointer;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    height: 55px;
    background-image: linear-gradient(to left, #dc143c, #d318d3);
    background-color: #dc143c;
    color: #fff;
    border: 0;
    border-radius: 7px;
    transition: all .4s;
    font-weight: 700
}

.btn:hover {
    background-image: linear-gradient(to left, #d318d3, #dc143c)
}

@media screen and (max-width: 449px) {
    .form-order {
        max-width: 270px;
        display: block;
    }

    #blank {
        padding: 10px
    }
}

.form_input input {
    width: 100%;
    max-width: 300px;
    height: 40px;
    border: 1px solid gray;
    margin-bottom: 15px;
    padding-left: 10px;
    font-size: 16px;
    transition: all .3s
}

.form_input {
    text-align: center
}

.form_input input:focus {
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2)
}

.form_input input:valid {
    box-shadow: 2px 3px 5px rgba(0, 255, 127, .2)
}

.form_input button {
    margin-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px
}

.eZYkSk {
    background-color: #fbfbfa;
    box-shadow: 0 1px 0 0 #e9e9e8;
    margin-bottom: 1px;
    padding-bottom: 16px;
    padding-top: 20px
}

.eZYkSk .sc-pcZmk {
    margin: 0 12px
}

@media (min-width: 1000px) {
    .eZYkSk .sc-pcZmk {
        margin: 0
    }
}

@media screen and (max-width: 999px) {
    .lbnqcb {
        border-left: 0;
        border-right: 0;
    }
}

.jCCxlk {
    width: 100%
}

body {
    font-family: Inter, sans-serif;
    color: #1e1e1c;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased
}

h1, h2 {
    line-height: 1.17;
    font-weight: 700
}

p {
    font-size: 20px;
    line-height: 1.4
}

a {
    color: #dc062b;
    -webkit-text-decoration-color: #dc062b;
    text-decoration-color: #dc062b
}

.red {
    color: red
}

.box-img {
    text-align: center;
}

.attention {
    padding: 5px 10px;
    background: #e2e2e2;
    border-radius: 5px;
    border: 1px solid #999
}

.box-img.vertical span,
.box-img.vertical img {
    max-width: 400px;
}

.box-img img {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    border: 1px solid #ccc;
    max-width: 500px;
    width: 100%;
}

.box-img span {
    display: block;
    max-width: 500px;
    margin: 5px auto 0;
    padding: 15px;
    background: #e4e4e4;
    border-radius: 10px;
}

.box-img .chema {
    border: none
}

.box-img.wr img {
    border: 0 !important
}

.product img {
    width: auto
}

button {
    font-family: Inter, sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: 0 0;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    cursor: pointer
}

button::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=date] {
    margin-bottom: 20px
}

.next {
    background-color: #000
}

.next:hover {
    background-color: #000
}

.blank {
    margin-left: 20px;
    width: 500px;
    border: 3px solid #ccc;
    border-radius: 20px
}

@media screen and (max-width: 768px) {
    .blank {
        max-width: 300px;
        width: 100%;
        margin-left: 0
    }
}

.blank {
    padding: 10px 10px;
    text-align: center;
    margin-bottom: 20px
}

.blank .price {
    display: flex;
    justify-content: center;
    margin-bottom: 15px
}

.blank .price div {
    display: flex;
    flex-direction: column
}

.blank .price .currency-price {
    margin-left: 20px
}

.blank .price span {
    font-size: 30px;
    text-align: center
}

.blank p {
    margin-bottom: 10px;
    margin-top: 10px
}

.blank form input {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 15px;
    font-size: 17px;
    outline: 0
}

.comments .title {
    display: flex;
    justify-content: space-between
}

@media (max-width: 610px) {
    .comments .title {
        flex-direction: column;
        margin: 30px 0
    }
}

.comments .item {
    margin: 20px 0;
    padding: 16px;
    display: flex;
    font-size: 17px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .05);
    border-radius: 16px;
    border: 1px solid #ccc
}

.comments .item div a {
    text-decoration: none !important
}

.comments .item p {
    line-height: 1.3;
    margin-bottom: 10px;
    margin-top: 10px
}

.comments .item img:not(.otz) {
    margin-top: 10px;
    border-radius: 50%
}

.comments .item img.otz {
    max-width: 300px;
    margin: 10px 0 5px 0;
    border-radius: 10px;
    width: 100%
}

.main_link {
    color: #fff !important;
    border: 0;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    width: 100%;
    font-size: 17px;
    display: flex;
    text-decoration: none !important;
    margin: 0 auto;
    margin-bottom: 20px
}

@media (max-width: 480px) {
    .comments .item {
        padding: 8px
    }

    .comments .item .c {
        margin-left: 10px !important
    }

    span.time {
        font-size: 13px
    }
}

.comments .item .c {
    color: #403b3b;
    margin-left: 20px
}

.comments .item .c .nd {
    font-weight: 700;
    color: #000;
    margin-bottom: 7px;
    margin-top: 0
}

.comments-img, .comments-img img {
    width: 50px;
    height: 50px;
    margin-top: 0 !important
}

.comments-img {
    flex-shrink: 0
}

@media screen and (-ms-high-contrast: active),(-ms-high-contrast: none) {
    .comments-img, .comments-img img {
        display: inline-block;
        vertical-align: top
    }

    .comments .item {
        display: block
    }

    .comments .item .c {
        width: 85%;
        display: inline-block
    }
}

.blank form button {
    background-color: #dc143c;
    color: #fff;
    border: 0;
    max-width: 300px;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    font-size: 17px
}

.form-flex {
    display: flex;
    align-items: center;
    justify-content: center
}

.form-flex img {
    margin-right: 30px
}

@media screen and (max-width: 768px) {
    .product img {
        max-width: 100%
    }

    .form-flex {
        flex-direction: column
    }

    .form-flex img {
        margin-right: 0;
        margin-bottom: 20px
    }
}

.comments__leave {
    text-align: right
}

.button {
    display: none;
    border: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    margin: 0 auto 30px;
    width: 100%;
    max-width: 300px;
    height: 55px;
    background-color: #aaa4a4;
    border: 0;
    border-radius: 7px;
    transition: all .4s;
    font-weight: 700;
}

.button:hover {
    background: #343534
}

.button.show {
    display: block
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden
}

.comment-create__wrapper {
    display: none
}

.comment-create__wrapper.show {
    display: block !important
}

.comment-create__form {
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto 20px
}

.comment-create__form.show {
    display: flex
}

.create-comment__image-wrapper {
    display: flex;
    align-items: center
}

.create-comment__image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
    background-image: url(../img/com-ava.png);
    background-position: center;
    background-repeat: no-repeat
}

.create-comment__image-text {
    margin-left: 10px;
    cursor: pointer;
    text-decoration: underline
}

.comment-create__text {
    resize: none;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #838383;
    resize: none;
    overflow: auto;
    padding: 10px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    margin-bottom: 10px
}

.comment-create__city, .comment-create__name {
    border-radius: 5px;
    border: 1px solid #838383;
    padding: 10px;
    font-size: 16px;
    font-family: Roboto, sans-serif;
    margin-bottom: 10px;
    width: 48%
}

.comment__info-image-wrapper {
    margin-bottom: 10px;
    width: 48%
}

.comment-create__btn {
    height: 55px;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #0252bb;
    border-radius: 7px;
    margin: 0 auto;
    transition: all .3s;
    border: none;
    cursor: pointer;
    display: block;
    max-width: 300px;
    width: 100%;
    outline: 0
}

.comment-create__btn:hover {
    box-shadow: 3px 5px 7px rgba(2, 82, 187, .2)
}

.comment_moderate {
    font-size: 18px;
    text-align: center;
    opacity: 0;
    transition: all .4s;
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    border: 2px solid #16a883;
    border-radius: 7px;
    visibility: hidden;
    position: absolute;
    top: 0
}

.comment_moderate.show {
    opacity: 1;
    visibility: visible;
    position: relative
}

.create-comment__image.added {
    background-image: url(../img/check.png)
}

.comment__notice {
    font-size: 18px;
    text-align: center;
    display: none;
    padding-bottom: 10px;
    width: 100%;
    font-weight: 700;
    color: #c51931
}

.comment__notice.show {
    display: block
}

.red {
    color: red;
    font-weight: 700
}

a, a:active, a:focus, a:hover, a:visited {
    outline: 0 !important
}

@keyframes load {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.red-border {
    color: #fff;
    width: 84px;
    height: 84px;
    font-size: 24px;
    position: absolute;
    top: -22px;
    right: 20px
}

.red-border, .red-border__text {
    display: flex;
    align-items: center;
    justify-content: center
}

.red-border__text {
    position: relative;
    width: 72px;
    height: 72px;
    background-color: red;
    border-radius: 50%
}

.red-border::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    border-bottom: 2px solid red;
    top: -7px;
    right: -7px;
    -webkit-animation: load 2s linear infinite;
    animation: load 2s linear infinite
}

.last__prod {
    display: block;
    margin: 0 auto 20px auto
}

.warn {
    max-width: 500px;
    padding: 10px;
    border: 2px solid #bd2e71;
    margin: 0 auto 20px auto
}

.warn ul {
    margin: 0
}

.warn li:last-child {
    margin-bottom: 0
}

p.note {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.promo_notes {
    margin-bottom: 10px;
}

p.promo_note {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 16px;
    text-align: center;
}

p.promo_note:last-of-type {
    margin-bottom: 0;
}

p.blank_note {
    margin-top: 0;
    margin-bottom: 30px;
}

.rom_link,
.rom_p {
    color: #333 !important;
    font-size: 16px;
}

.rom_right .rom_contact {
    text-align: right;
}

.header-extra {
    padding: 15px;
    text-align: center;
    font-size: 14px;
    background: #322e2e;
    color: #fff;
    position: relative;
    text-transform: uppercase
}

.header-extra__link {
    position: absolute;
    top: 50%;
    right: 20px;
    color: #fff !important;
    transform: translateY(-50%);
    font-weight: 400;
    text-decoration: underline !important
}

.header-extra__link:hover {
    text-decoration: none !important
}

.footer {
    background: rgba(128, 128, 128, .25);
    padding: 20px 15px;
    color: #333
}

.footer__container {
    margin: 0 auto;
    max-width: 900px;
}

.footer__text {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    color: #333;
}

.footer-wrap {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center
}

.symbol {
    display: block;
    padding: 0 5px;
    color: #262626;
}

.footer__text {
    margin-bottom: 10px;
    font-size: 14px
}

.footer__text.left {
    text-align: left !important
}

.footer__text-wrap {
    display: flex;
    justify-content: center
}

.footer__link {
    display: block;
    font-size: 14px;
    color: #262626;
    text-decoration: underline;
    font-weight: 700;
}

.footer__link:hover {
    text-decoration: none !important
}

@media screen and (max-width: 767px) {
    .rom_link, .rom_p {
        text-align: center !important;
    }
    .rom_left {
        margin-bottom: 10px!important;
    }
}

@media screen and (max-width: 767px) {
    .rel {
        margin-right: 0;
        margin-top: 15px
    }

    .red-border {
        top: -12px;
        right: -22px
    }

    .gCXNBk {
        font-size: 28px;
    }
}

@media screen and (max-width: 639px) {
    .gCXNBk {
        margin-bottom: 0;
        font-size: 26px;
    }

    .comments .item p,
    .comments .item div a,
    .dlhZxU p, .dlhZxU ul {
        font-size: 16px;
    }

    .header-extra {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }

    .header-extra__link {
        position: static;
        transform: none;
    }
}

@media (max-width: 479px) {
    .header-extra {
        justify-content: center;
        flex-direction: column
    }

    .footer-wrap {
        flex-direction: column;
    }

    .footer-wrap .symbol {
        display: none;
    }

    .footer__link:first-of-type {
        margin-bottom: 5px;
    }

    .gCXNBk {
        font-size: 21px;
    }


    .last__prod, .rel {
        max-width: 220px
    }

    .comment-create__city, .comment-create__name, .comment__info-image-wrapper {
        width: 100%
    }

    p.promo_note,
    .price-text {
        font-size: 16px;
    }

    #blank .currency-price {
        padding-left: 15px;
    }

    .price div:last-child {
        margin-left: 15px;
    }

    .form-order {
        padding: 15px;
    }

    form small {
        font-size: 12px;
    }
}

@media screen and (max-width: 379px) {
    .gCXNBk {
        font-size: 20px;
    }
}